.divHijo{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 70%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.divPadre{
    background-color: #182530;
    display: grid;
    grid-template-columns: 5fr 4fr;
}
.imagenCont{
    background-image: url(https://th.bing.com/th/id/R.e71dad9835dc81e9c631736fcb31063a?rik=hw91lp9QCKB9kw&pid=ImgRaw&r=0);
    background-position: center center; 
    background-size: cover; 
    background-repeat: no-repeat; 
}
.bienvenido_de_nuevo{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}
.headePadre{
    color: #1B5DA4;
    display: grid;
    grid-template-columns: 3fr 4fr;
    height: 150px;
    background-color: #F7C221;
}

.verticalAmarillo{
    width: 500px;
    height: 150px;
}
.titulosNav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

